<%= form_with(model: prescription_master, local: true) do |form| %>
  <% if prescription_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription_master.errors.count, "error") %> prohibited this prescription_master from being saved:</h2>

      <ul>
      <% prescription_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prescription_id %>
    <%= form.number_field :prescription_id %>
  </div>

  <div class="field">
    <%= form.label :appointment_id %>
    <%= form.number_field :appointment_id %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    <%= form.number_field :tenant_id %>
  </div>

  <div class="field">
    <%= form.label :appointment_id %>
    <%= form.text_field :appointment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
