<p id="notice"><%= notice %></p>

<h1>Prescription Masters</h1>

<table>
  <thead>
    <tr>
      <th>Prescription</th>
      <th>Appointment</th>
      <th>Comment</th>
      <th>Tenant</th>
      <th>Appointment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescription_masters.each do |prescription_master| %>
      <tr>
        <td><%= prescription_master.prescription_id %></td>
        <td><%= prescription_master.appointment_id %></td>
        <td><%= prescription_master.comment %></td>
        <td><%= prescription_master.tenant_id %></td>
        <td><%= prescription_master.appointment %></td>
        <td><%= link_to 'Show', prescription_master %></td>
        <td><%= link_to 'Edit', edit_prescription_master_path(prescription_master) %></td>
        <td><%= link_to 'Destroy', prescription_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription Master', new_prescription_master_path %>
