<p id="notice"><%= notice %></p>

<p>
  <strong>Prescription:</strong>
  <%= @prescription_master.prescription_id %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @prescription_master.appointment_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @prescription_master.comment %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @prescription_master.tenant_id %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @prescription_master.appointment %>
</p>

<%= link_to 'Edit', edit_prescription_master_path(@prescription_master) %> |
<%= link_to 'Back', prescription_masters_path %>
