<%= form_with(model: doc_hospital_communication, local: true) do |form| %>
  <% if doc_hospital_communication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doc_hospital_communication.errors.count, "error") %> prohibited this doc_hospital_communication from being saved:</h2>

      <ul>
      <% doc_hospital_communication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :communication_type %>
    <%= form.text_field :communication_type %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    <%= form.number_field :tenant_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
