<h1>Editing Doc Hospital Communication</h1>

<%= render 'form', doc_hospital_communication: @doc_hospital_communication %>

<%= link_to 'Show', @doc_hospital_communication %> |
<%= link_to 'Back', doc_hospital_communications_path %>
