<p id="notice"><%= notice %></p>

<h1>Doc Hospital Communications</h1>

<table>
  <thead>
    <tr>
      <th>Communication type</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Customer</th>
      <th>Tenant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_hospital_communications.each do |doc_hospital_communication| %>
      <tr>
        <td><%= doc_hospital_communication.communication_type %></td>
        <td><%= doc_hospital_communication.phone_number %></td>
        <td><%= doc_hospital_communication.email_id %></td>
        <td><%= doc_hospital_communication.customer_id %></td>
        <td><%= doc_hospital_communication.tenant_id %></td>
        <td><%= link_to 'Show', doc_hospital_communication %></td>
        <td><%= link_to 'Edit', edit_doc_hospital_communication_path(doc_hospital_communication) %></td>
        <td><%= link_to 'Destroy', doc_hospital_communication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doc Hospital Communication', new_doc_hospital_communication_path %>
