<p id="notice"><%= notice %></p>

<p>
  <strong>Communication type:</strong>
  <%= @doc_hospital_communication.communication_type %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @doc_hospital_communication.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doc_hospital_communication.email_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @doc_hospital_communication.customer_id %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @doc_hospital_communication.tenant_id %>
</p>

<%= link_to 'Edit', edit_doc_hospital_communication_path(@doc_hospital_communication) %> |
<%= link_to 'Back', doc_hospital_communications_path %>
