<p id="notice"><%= notice %></p>

<h1>Affiliations</h1>

<table>
  <thead>
    <tr>
      <th>Affiliation</th>
      <th>From customer</th>
      <th>To customer</th>
      <th>Afiliation type</th>
      <th>Address</th>
      <th>Status</th>
      <th>Tenant</th>
      <th>Doctor</th>
      <th>Hospital</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affiliations.each do |affiliation| %>
      <tr>
        <td><%= affiliation.affiliation_id %></td>
        <td><%= affiliation.from_customer_id %></td>
        <td><%= affiliation.to_customer_id %></td>
        <td><%= affiliation.afiliation_type %></td>
        <td><%= affiliation.address_id %></td>
        <td><%= affiliation.status %></td>
        <td><%= affiliation.tenant_id %></td>
        <td><%= affiliation.doctor %></td>
        <td><%= affiliation.hospital %></td>
        <td><%= affiliation.address %></td>
        <td><%= link_to 'Show', affiliation %></td>
        <td><%= link_to 'Edit', edit_affiliation_path(affiliation) %></td>
        <td><%= link_to 'Destroy', affiliation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affiliation', new_affiliation_path %>
