<p id="notice"><%= notice %></p>

<p>
  <strong>Affiliation:</strong>
  <%= @affiliation.affiliation_id %>
</p>

<p>
  <strong>From customer:</strong>
  <%= @affiliation.from_customer_id %>
</p>

<p>
  <strong>To customer:</strong>
  <%= @affiliation.to_customer_id %>
</p>

<p>
  <strong>Afiliation type:</strong>
  <%= @affiliation.afiliation_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @affiliation.address_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @affiliation.status %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @affiliation.tenant_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @affiliation.doctor %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @affiliation.hospital %>
</p>

<p>
  <strong>Address:</strong>
  <%= @affiliation.address %>
</p>

<%= link_to 'Edit', edit_affiliation_path(@affiliation) %> |
<%= link_to 'Back', affiliations_path %>
