<%= form_with(model: doctor_holiday, local: true) do |form| %>
  <% if doctor_holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor_holiday.errors.count, "error") %> prohibited this doctor_holiday from being saved:</h2>

      <ul>
      <% doctor_holiday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :doctor_holiday_id %>
    <%= form.number_field :doctor_holiday_id %>
  </div>

  <div class="field">
    <%= form.label :affiliation_id %>
    <%= form.number_field :affiliation_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    <%= form.number_field :tenant_id %>
  </div>

  <div class="field">
    <%= form.label :affiliation_id %>
    <%= form.text_field :affiliation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
