<p id="notice"><%= notice %></p>

<h1>Doctor Holidays</h1>

<table>
  <thead>
    <tr>
      <th>Doctor holiday</th>
      <th>Affiliation</th>
      <th>Date</th>
      <th>Tenant</th>
      <th>Affiliation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_holidays.each do |doctor_holiday| %>
      <tr>
        <td><%= doctor_holiday.doctor_holiday_id %></td>
        <td><%= doctor_holiday.affiliation_id %></td>
        <td><%= doctor_holiday.date %></td>
        <td><%= doctor_holiday.tenant_id %></td>
        <td><%= doctor_holiday.affiliation %></td>
        <td><%= link_to 'Show', doctor_holiday %></td>
        <td><%= link_to 'Edit', edit_doctor_holiday_path(doctor_holiday) %></td>
        <td><%= link_to 'Destroy', doctor_holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor Holiday', new_doctor_holiday_path %>
