<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor holiday:</strong>
  <%= @doctor_holiday.doctor_holiday_id %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @doctor_holiday.affiliation_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @doctor_holiday.date %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @doctor_holiday.tenant_id %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @doctor_holiday.affiliation %>
</p>

<%= link_to 'Edit', edit_doctor_holiday_path(@doctor_holiday) %> |
<%= link_to 'Back', doctor_holidays_path %>
