<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Date of birth</th>
      <th>Status</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Tenant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.patient_id %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.middle_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.status %></td>
        <td><%= patient.address %></td>
        <td><%= patient.city %></td>
        <td><%= patient.state %></td>
        <td><%= patient.country %></td>>
        <td><%= patient.tenant_id %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
