<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @hospital.customer_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @hospital.speciality %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hospital.Status %>
</p>

<p>
  <strong>No of beds:</strong>
  <%= @hospital.No_of_Beds %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @hospital.tenant_id %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
