<p id="notice"><%= notice %></p>

<h1>Doctors</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Speciality</th>
      <th>Rating</th>
      <th>Degree</th>
      <th>Experience</th>
      <th>Web address</th>
      <th>Opt out</th>
      <th>Status</th>
      <th>Fees</th>
      <th>Tenant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.customer_id %></td>
        <td><%= doctor.first_name %></td>
        <td><%= doctor.middle_name %></td>
        <td><%= doctor.last_name %></td>
        <td><%= doctor.age %></td>
        <td><%= doctor.sex %></td>
        <td><%= doctor.speciality %></td>
        <td><%= doctor.rating %></td>
        <td><%= doctor.degree %></td>
        <td><%= doctor.experience %></td>
        <td><%= doctor.web_address %></td>
        <td><%= doctor.opt_out %></td>
        <td><%= doctor.status %></td>
        <td><%= doctor.fees %></td>
        <td><%= doctor.tenant_id %></td>
        <td><%= link_to 'Show', doctor %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor', new_doctor_path %>
