<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @doctor.customer_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @doctor.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @doctor.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @doctor.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @doctor.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @doctor.sex %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @doctor.speciality %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @doctor.rating %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @doctor.degree %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @doctor.experience %>
</p>

<p>
  <strong>Web address:</strong>
  <%= @doctor.web_address %>
</p>

<p>
  <strong>Opt out:</strong>
  <%= @doctor.opt_out %>
</p>

<p>
  <strong>Status:</strong>
  <%= @doctor.status %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @doctor.fees %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @doctor.tenant_id %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
