<%= form_with(model: prescription_detail, local: true) do |form| %>
  <% if prescription_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription_detail.errors.count, "error") %> prohibited this prescription_detail from being saved:</h2>

      <ul>
      <% prescription_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prescription_detail_id %>
    <%= form.number_field :prescription_detail_id %>
  </div>

  <div class="field">
    <%= form.label :prescription_id %>
    <%= form.number_field :prescription_id %>
  </div>

  <div class="field">
    <%= form.label :drug_name %>
    <%= form.text_field :drug_name %>
  </div>

  <div class="field">
    <%= form.label :morning %>
    <%= form.check_box :morning %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :afternoon %>
    <%= form.check_box :afternoon %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :night %>
    <%= form.check_box :night %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :before_food %>
    <%= form.check_box :before_food %>
  </div>

  <div class="field">
    <%= form.label :after_food %>
    <%= form.check_box :after_food %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    <%= form.number_field :tenant_id %>
  </div>

  <div class="field">
    <%= form.label :prescription_master_id %>
    <%= form.text_field :prescription_master_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
