<p id="notice"><%= notice %></p>

<h1>Prescription Details</h1>

<table>
  <thead>
    <tr>
      <th>Prescription detail</th>
      <th>Prescription</th>
      <th>Drug name</th>
      <th>Morning</th>
      <th>Quantity</th>
      <th>Afternoon</th>
      <th>Quantity</th>
      <th>Night</th>
      <th>Quantity</th>
      <th>Before food</th>
      <th>After food</th>
      <th>Comment</th>
      <th>Tenant</th>
      <th>Prescription master</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescription_details.each do |prescription_detail| %>
      <tr>
        <td><%= prescription_detail.prescription_detail_id %></td>
        <td><%= prescription_detail.prescription_id %></td>
        <td><%= prescription_detail.drug_name %></td>
        <td><%= prescription_detail.morning %></td>
        <td><%= prescription_detail.quantity %></td>
        <td><%= prescription_detail.afternoon %></td>
        <td><%= prescription_detail.quantity %></td>
        <td><%= prescription_detail.night %></td>
        <td><%= prescription_detail.quantity %></td>
        <td><%= prescription_detail.before_food %></td>
        <td><%= prescription_detail.after_food %></td>
        <td><%= prescription_detail.comment %></td>
        <td><%= prescription_detail.tenant_id %></td>
        <td><%= prescription_detail.prescription_master %></td>
        <td><%= link_to 'Show', prescription_detail %></td>
        <td><%= link_to 'Edit', edit_prescription_detail_path(prescription_detail) %></td>
        <td><%= link_to 'Destroy', prescription_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription Detail', new_prescription_detail_path %>
