<p id="notice"><%= notice %></p>

<p>
  <strong>Prescription detail:</strong>
  <%= @prescription_detail.prescription_detail_id %>
</p>

<p>
  <strong>Prescription:</strong>
  <%= @prescription_detail.prescription_id %>
</p>

<p>
  <strong>Drug name:</strong>
  <%= @prescription_detail.drug_name %>
</p>

<p>
  <strong>Morning:</strong>
  <%= @prescription_detail.morning %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @prescription_detail.quantity %>
</p>

<p>
  <strong>Afternoon:</strong>
  <%= @prescription_detail.afternoon %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @prescription_detail.quantity %>
</p>

<p>
  <strong>Night:</strong>
  <%= @prescription_detail.night %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @prescription_detail.quantity %>
</p>

<p>
  <strong>Before food:</strong>
  <%= @prescription_detail.before_food %>
</p>

<p>
  <strong>After food:</strong>
  <%= @prescription_detail.after_food %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @prescription_detail.comment %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @prescription_detail.tenant_id %>
</p>

<p>
  <strong>Prescription master:</strong>
  <%= @prescription_detail.prescription_master %>
</p>

<%= link_to 'Edit', edit_prescription_detail_path(@prescription_detail) %> |
<%= link_to 'Back', prescription_details_path %>
