<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Customer</th>
      <th>Patient</th>
      <th>Name of the patient</th>
      <th>Comment</th>
      <th>Date</th>
      <th>Doctor slot</th>
      <th>Locked</th>
      <th>Fees paid</th>
      <th>Tenant</th>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Doctor slot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_id %></td>
        <td><%= appointment.customer_id %></td>
        <td><%= appointment.patient_id %></td>
        <td><%= appointment.name_of_the_patient %></td>
        <td><%= appointment.comment %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.doctor_slot_id %></td>
        <td><%= appointment.locked %></td>
        <td><%= appointment.fees_paid %></td>
        <td><%= appointment.tenant_id %></td>
        <td><%= appointment.patient %></td>
        <td><%= appointment.doctor %></td>
        <td><%= appointment.doctor_slot %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
