<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @appointment.appointment_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @appointment.customer_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Name of the patient:</strong>
  <%= @appointment.name_of_the_patient %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @appointment.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Doctor slot:</strong>
  <%= @appointment.doctor_slot_id %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @appointment.locked %>
</p>

<p>
  <strong>Fees paid:</strong>
  <%= @appointment.fees_paid %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @appointment.tenant_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor %>
</p>

<p>
  <strong>Doctor slot:</strong>
  <%= @appointment.doctor_slot %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
