<%= form_with(model: doctor_slot, local: true) do |form| %>
  <% if doctor_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor_slot.errors.count, "error") %> prohibited this doctor_slot from being saved:</h2>

      <ul>
      <% doctor_slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :doctor_slot_id %>
    <%= form.number_field :doctor_slot_id %>
  </div>

  <div class="field">
    <%= form.label :affiliation_id %>
    <%= form.number_field :affiliation_id %>
  </div>

  <div class="field">
    <%= form.label :day_id %>
    <%= form.number_field :day_id %>
  </div>

  <div class="field">
    <%= form.label :slot_id %>
    <%= form.number_field :slot_id %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    <%= form.number_field :tenant_id %>
  </div>

  <div class="field">
    <%= form.label :affiliation_id %>
    <%= form.text_field :affiliation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
