<p id="notice"><%= notice %></p>

<h1>Doctor Slots</h1>

<table>
  <thead>
    <tr>
      <th>Doctor slot</th>
      <th>Affiliation</th>
      <th>Day</th>
      <th>Slot</th>
      <th>Tenant</th>
      <th>Affiliation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_slots.each do |doctor_slot| %>
      <tr>
        <td><%= doctor_slot.doctor_slot_id %></td>
        <td><%= doctor_slot.affiliation_id %></td>
        <td><%= doctor_slot.day_id %></td>
        <td><%= doctor_slot.slot_id %></td>
        <td><%= doctor_slot.tenant_id %></td>
        <td><%= doctor_slot.affiliation %></td>
        <td><%= link_to 'Show', doctor_slot %></td>
        <td><%= link_to 'Edit', edit_doctor_slot_path(doctor_slot) %></td>
        <td><%= link_to 'Destroy', doctor_slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor Slot', new_doctor_slot_path %>
