<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor slot:</strong>
  <%= @doctor_slot.doctor_slot_id %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @doctor_slot.affiliation_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @doctor_slot.day_id %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @doctor_slot.slot_id %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @doctor_slot.tenant_id %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @doctor_slot.affiliation %>
</p>

<%= link_to 'Edit', edit_doctor_slot_path(@doctor_slot) %> |
<%= link_to 'Back', doctor_slots_path %>
